/* guitarra.eshost.es - print.css - programeitor 2012 */

html{overflow-y:scroll; }
body *{margin:0; padding:0; font:normal 1em monospace, courier; color:black; }
body{margin:2em 3%; background:white; overflow-x:hidden; }


h1{padding:.2em 1em; }
a{text-decoration:none; }
h1,h2,h3,h4,a,b{font-weight:bold; }
li{list-style:none;}

h1{font-size:2.50em;}
h2{font-size:2.25em;}
h3{font-size:2em;}
h4{font-size:1.75em;}
p, pre{font-size:1.5em;}





.seccion{padding:0em 3em; z-index:0;/**/}
.seccion h2{width:12em; float:right; text-align:right; padding:.4em 1em; }
.seccion ul li,.seccion p{margin:1em 0; }






#manual ul{position:relative; right:-3em; margin-left:-6em; }
#manual ul li{margin:.3em .3em 0;}
#manual ul li h3{text-align:center; padding:.1em .5em; margin-bottom:1px; display:block;}
#manual ul li div{padding:7em 4em 5em; }
#manual ul li div pre{margin-top:1em;}
#manual ul li div pre, #manual ul li div p{margin-bottom:2em; }
#manual ul li div h4{ display:inline; }
#manual ul li div img{margin-bottom:2em; width:100%}



#menu, iframe, .extra, #imenu{visibility:hidden; display:none;}





